body {
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    font-size: 18px;
  }
  
  h1,
  h3 {
    text-align: center;
  }
  
  .container {
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    min-height: 125px;
    justify-content: space-around; /* Distributing flex items evenly along the main axis with equal space around them */
  }
  
  .box {
    background-color: whitesmoke;
    border: 1px solid white;
    width: 100px;
    height: 100px;
  }
  
  #wrap {
    flex-wrap: wrap; /* Allowing flex items to wrap onto multiple lines if needed */
  }
  
  #nowrap {
    flex-wrap: nowrap; /* Forcing flex items to remain on a single line without wrapping */
  }
  
  #reverse {
    flex-wrap: wrap-reverse; /* Allowing flex items to wrap onto multiple lines in reverse order */
  }
  
  
  
  
  
  
  