body {
    margin: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 14px;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  
  .container {
    background-color: dodgerblue;
    display: flex;
    max-height: 600px;
    align-items: center;
    justify-content: space-around;
  }
  
  .box {
    background-color: whitesmoke;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    flex-grow: 1;
  }
  
  #row {
    flex-direction: row; /* elements will be positioned from left to right across the parent element starting from the top left corner (default).*/
  }
  
  #row-reverse {
    flex-direction: row-reverse; /*  elements will be positioned from right to left across the parent element starting from the top right corner.*/
  
  }
  
  #column {
    flex-direction: column; /* elements will be positioned from top to bottom of the parent element starting from the top left corner.*/
  
  }
  
  #column-reverse {
    flex-direction: column-reverse; /* elements will be positioned from the bottom to the top of the parent element starting from the bottom left corner. */
  
  }
  